# Building an Approximate Nearest Neighbours Index

This tutorial shows how to build an approximate nearest neighbours (ann) index for a given set of embeddings.

We use the Spotify [ANNOY](https://github.com/spotify/annoy) library for this task.

The following are the steps of this tutorial:
1. Build the annoy index given the embeddings saved in the TSV file
2. Load movie information form the downloaded data
3. Use the index to find similar movies to a given one

<a href="https://colab.research.google.com/github.com/ksalama/data2cooc2emb2ann/blob/master/track2ann/03-Building_an_Approximate_Nearest_Neighbours_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Setup

In [1]:
# !pip install -r ../requirements.txt

In [2]:
import os
from annoy import AnnoyIndex
from datetime import datetime
import pandas as pd

In [3]:
WORKSPACE = './workspace'
DATA_DIR = '{}/data'.format(WORKSPACE)
DATASET = 'ml-1m'
ratings_data_file = os.path.join(DATA_DIR, '{}/ratings.dat'.format(DATASET))
movies_data_file = os.path.join(DATA_DIR, '{}/movies.dat'.format(DATASET))
embeddings_file_path = os.path.join(WORKSPACE,'embeddings.tsv')
index_file_path = os.path.join(WORKSPACE,'embed-ann.index')

## 1. Build Annoy Index

In [4]:
def build_embeddings_index(embeddings_file, embedding_size, num_trees):
    
    annoy_index = AnnoyIndex(embedding_size, metric='angular')
    idx2item_mapping = dict()
    item2idx_mapping = dict()
    
    idx = 0
    
    with open(embeddings_file_path) as embedding_file:
        
        while True:
            line = embedding_file.readline()
            if not line: break
                
            parts = line.split('\t')
            item_id = parts[0]
            embedding = [float(v) for v in parts[1:]]
            
            idx2item_mapping[idx] = item_id
            item2idx_mapping[item_id] = idx

            annoy_index.add_item(idx, embedding)
            idx+=1
        
    print("{} items where added to the index".format(idx))
    annoy_index.build(n_trees=num_trees)
    print("Index is built")
    return annoy_index, idx2item_mapping, item2idx_mapping

In [5]:
num_trees = 1000
embedding_size = 32

index, idx2item_mapping,  item2idx_mapping = build_embeddings_index(
    embeddings_file_path, embedding_size, num_trees)

3706 items where added to the index
Index is built

## 2. Load movie data

In [6]:
ratings_header = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_data = pd.read_csv(ratings_data_file, sep="::", names=ratings_header)
ratings_data.head()

/Users/khalidsalama/Technology/GoogleCloud/GCP-Github/kfp-components/google/tf_hub/tabular2cooc/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [7]:
movies_header = ['movie_id', 'title', 'genres']
movies_data = pd.read_csv(movies_data_file, sep="::", names=movies_header)
movies_data.head()

/Users/khalidsalama/Technology/GoogleCloud/GCP-Github/kfp-components/google/tf_hub/tabular2cooc/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

### Top frequent movies

In [8]:
frequent_movie_ids = list(ratings_data.movie_id.value_counts().index[:30])
movies_data[movies_data['movie_id'].isin(frequent_movie_ids)]

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
108,110,Braveheart (1995),Action|Drama|War
257,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
293,296,Pulp Fiction (1994),Crime|Drama
315,318,"Shawshank Redemption, The (1994)",Drama
352,356,Forrest Gump (1994),Comedy|Romance|War
476,480,Jurassic Park (1993),Action|Adventure|Sci-Fi
523,527,Schindler's List (1993),Drama|War
585,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
589,593,"Silence of the Lambs, The (1991)",Drama|Thriller
604,608,Fargo (1996),Crime|Drama|Thriller
847,858,"Godfather, The (1972)",Action|Crime|Drama
1081,1097,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
1178,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
1179,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
1180,1198,Raiders of the Lost Ark (1981),Action|Adventure
1192,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
1220,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller
1245,1265,Groundhog Day (1993),Comedy|Romance
1250,1270,Back to the Future (1985),Comedy|Sci-Fi
1539,1580,Men in Black (1997),Action|Adventure|Comedy|Sci-Fi
1575,1617,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller
1959,2028,Saving Private Ryan (1998),Action|Drama|War
2327,2396,Shakespeare in Love (1998),Comedy|Romance
2502,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
2559,2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi
2647,2716,Ghostbusters (1984),Comedy|Horror
2693,2762,"Sixth Sense, The (1999)",Thriller
2789,2858,American Beauty (1999),Comedy|Drama
2928,2997,Being John Malkovich (1999),Comedy

## 3. Find similar items

In [9]:
def get_similar_items(item_id, num_matches=10):
    
    idx = item2idx_mapping[item_id]
    
    similar_idx = index.get_nns_by_item(
        idx, num_matches, search_k=-1, include_distances=False)
    
    similar_item_ids = []
    for idx in similar_idx:
        similar_item_ids.append(idx2item_mapping[idx])
    
    return similar_item_ids

In [10]:
for movie_id in sorted(frequent_movie_ids):
    movie_title = movies_data[movies_data['movie_id'] == movie_id].title.values[0]
    print("Movie: {}".format(movie_title))
    similar_item_ids = get_similar_items(str(movie_id))
    similar_movies = movies_data[movies_data['movie_id'].isin(similar_item_ids)].title
    print("Similar Movies:")
    print(similar_movies)
    print("--------------------------------------")

Movie: Toy Story (1995)
Similar Movies:
0                     Toy Story (1995)
584                     Aladdin (1992)
892                 Rear Window (1954)
907           Wizard of Oz, The (1939)
1180    Raiders of the Lost Ark (1981)
1250         Back to the Future (1985)
2286              Bug's Life, A (1998)
2728                        Big (1988)
3045                Toy Story 2 (1999)
3438            Odd Couple, The (1968)
Name: title, dtype: object
--------------------------------------
Movie: Braveheart (1995)
Similar Movies:
108                    Braveheart (1995)
315     Shawshank Redemption, The (1994)
1023                     Die Hard (1988)
1180      Raiders of the Lost Ark (1981)
1222                        Glory (1989)
1385    Last of the Mohicans, The (1992)
1568    Hunt for Red October, The (1990)
1959          Saving Private Ryan (1998)
2125            Untouchables, The (1987)
3509                    Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: Star Wars: Episode IV - A New Hope (1977)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
453                                  Fugitive, The (1993)
1178    Star Wars: Episode V - The Empire Strikes Back...
1179                           Princess Bride, The (1987)
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1215                                    Sting, The (1973)
1230                 Bridge on the River Kwai, The (1957)
1271            Indiana Jones and the Last Crusade (1989)
2836                                       Sanjuro (1962)
Name: title, dtype: object
--------------------------------------
Movie: Pulp Fiction (1994)
Similar Movies:
49            Usual Suspects, The (1995)
293                  Pulp Fiction (1994)
589     Silence of the Lambs, The (1991)
604                         Fargo (1996)
1073               Reservoir Dogs (1992)
1188          Clockwork Orange, A (1971)
1195                   GoodFellas (1990)
1627                Boogie Nights (1997)
2836                      Sanjuro (1962)
3352                 Animal House (1978)
Name: title, dtype: object
--------------------------------------
Movie: Shawshank Redemption, The (1994)
Similar Movies:
49            Usual Suspects, The (1995)
315     Shawshank Redemption, The (1994)
352                  Forrest Gump (1994)
523              Schindler's List (1993)
589     Silence of the Lambs, The (1991)
1222                        Glory (1989)
1239                  Stand by Me (1986)
1656            Good Will Hunting (1997)
1892                     Rain Man (1988)
1959          Saving Private Ryan (1998)
Name: title, dtype: object
--------------------------------------
Movie: Forrest Gump (1994)
Similar Movies:
148                     Apollo 13 (1995)
315     Shawshank Redemption, The (1994)
352                  Forrest Gump (1994)
523              Schindler's List (1993)
549                     Tombstone (1993)
1656            Good Will Hunting (1997)
1959          Saving Private Ryan (1998)
2875             Dirty Dozen, The (1967)
2988             Where's Marlowe? (1999)
3078              Green Mile, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: Jurassic Park (1993)
Similar Movies:
376                      True Lies (1994)
453                  Fugitive, The (1993)
476                  Jurassic Park (1993)
585     Terminator 2: Judgment Day (1991)
588                         Batman (1989)
1180       Raiders of the Lost Ark (1981)
1182                        Aliens (1986)
1220               Terminator, The (1984)
1366                          Jaws (1975)
1568     Hunt for Red October, The (1990)
Name: title, dtype: object
--------------------------------------
Movie: Schindler's List (1993)
Similar Movies:
89          Journey of August King, The (1995)
315           Shawshank Redemption, The (1994)
523                    Schindler's List (1993)
1176    One Flew Over the Cuckoo's Nest (1975)
1222                              Glory (1989)
1230      Bridge on the River Kwai, The (1957)
1959                Saving Private Ryan (1998)
2836                            Sanjuro (1962)
3129                           Papillon (1973)
3400                   Inherit the Wind (1960)
Name: title, dtype: object
--------------------------------------
Movie: Terminator 2: Judgment Day (1991)
Similar Movies:
476                  Jurassic Park (1993)
585     Terminator 2: Judgment Day (1991)
1023                      Die Hard (1988)
1182                        Aliens (1986)
1220               Terminator, The (1984)
1349                    Die Hard 2 (1990)
1959           Saving Private Ryan (1998)
2502                   Matrix, The (1999)
2543                Mildred Pierce (1945)
2847                  Total Recall (1990)
Name: title, dtype: object
--------------------------------------
Movie: Silence of the Lambs, The (1991)
Similar Movies:
46                  Seven (Se7en) (1995)
315     Shawshank Redemption, The (1994)
589     Silence of the Lambs, The (1991)
847                Godfather, The (1972)
1195                   GoodFellas (1990)
1238                 Shining, The (1980)
1243             Deer Hunter, The (1978)
1337                  Sling Blade (1996)
2693             Sixth Sense, The (1999)
2836                      Sanjuro (1962)
Name: title, dtype: object
--------------------------------------
Movie: Fargo (1996)
Similar Movies:
293                           Pulp Fiction (1994)
604                                  Fargo (1996)
759     Marlene Dietrich: Shadow and Light (1996)
1186                    Lawrence of Arabia (1962)
1210                           Raging Bull (1980)
1575                     L.A. Confidential (1997)
1884                French Connection, The (1971)
2836                               Sanjuro (1962)
3614                          Blood Simple (1984)
3714                              Croupier (1998)
Name: title, dtype: object
--------------------------------------
Movie: Godfather, The (1972)
Similar Movies:
5                                Heat (1995)
589         Silence of the Lambs, The (1991)
847                    Godfather, The (1972)
1195                       GoodFellas (1990)
1203          Godfather: Part II, The (1974)
1230    Bridge on the River Kwai, The (1957)
1243                 Deer Hunter, The (1978)
1256                   Cool Hand Luke (1967)
2836                          Sanjuro (1962)
3399                     Hustler, The (1961)
Name: title, dtype: object
--------------------------------------
Movie: E.T. the Extra-Terrestrial (1982)
Similar Movies:
902                           My Fair Lady (1964)
922                    Father of the Bride (1950)
941                  It's a Wonderful Life (1946)
1081            E.T. the Extra-Terrestrial (1982)
1239                           Stand by Me (1986)
1250                    Back to the Future (1985)
1892                              Rain Man (1988)
2338                                Cocoon (1985)
2728                                   Big (1988)
3402    Close Encounters of the Third Kind (1977)
Name: title, dtype: object
--------------------------------------
Movie: Star Wars: Episode V - The Empire Strikes Back (1980)
Similar Movies:
108                                     Braveheart (1995)
257             Star Wars: Episode IV - A New Hope (1977)
290     Professional, The (a.k.a. Leon: The Profession...
1178    Star Wars: Episode V - The Empire Strikes Back...
1179                           Princess Bride, The (1987)
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1271            Indiana Jones and the Last Crusade (1989)
2836                                       Sanjuro (1962)
3269                               For All Mankind (1989)
Name: title, dtype: object
--------------------------------------
Movie: Princess Bride, The (1987)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
711     Wallace & Gromit: The Best of Aardman Animatio...
1120               Monty Python and the Holy Grail (1974)
1132                           Wrong Trousers, The (1993)
1179                           Princess Bride, The (1987)
1180                       Raiders of the Lost Ark (1981)
1258                            Young Frankenstein (1974)
2647                                  Ghostbusters (1984)
2735                            Christmas Story, A (1983)
2836                                       Sanjuro (1962)
Name: title, dtype: object
--------------------------------------
Movie: Raiders of the Lost Ark (1981)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
453                                  Fugitive, The (1993)
1023                                      Die Hard (1988)
1178    Star Wars: Episode V - The Empire Strikes Back...
1179                           Princess Bride, The (1987)
1180                       Raiders of the Lost Ark (1981)
1220                               Terminator, The (1984)
1271            Indiana Jones and the Last Crusade (1989)
1931                                 Lethal Weapon (1987)
2647                                  Ghostbusters (1984)
Name: title, dtype: object
--------------------------------------
Movie: Star Wars: Episode VI - Return of the Jedi (1983)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
315                      Shawshank Redemption, The (1994)
453                                  Fugitive, The (1993)
1178    Star Wars: Episode V - The Empire Strikes Back...
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1230                 Bridge on the River Kwai, The (1957)
1271            Indiana Jones and the Last Crusade (1989)
2559     Star Wars: Episode I - The Phantom Menace (1999)
2783                            Soldier's Story, A (1984)
Name: title, dtype: object
--------------------------------------
Movie: Terminator, The (1984)
Similar Movies:
585     Terminator 2: Judgment Day (1991)
764        Wend Kuuni (God's Gift) (1982)
1023                      Die Hard (1988)
1074                       Platoon (1986)
1180       Raiders of the Lost Ark (1981)
1182                        Aliens (1986)
1196                         Alien (1979)
1220               Terminator, The (1984)
1366                          Jaws (1975)
2693              Sixth Sense, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: Groundhog Day (1993)
Similar Movies:
424                                  Bronx Tale, A (1993)
1212                              Right Stuff, The (1983)
1245                                 Groundhog Day (1993)
1250                            Back to the Future (1985)
1258                            Young Frankenstein (1974)
1950    Seven Samurai (The Magnificent Seven) (Shichin...
2105                                   Beetlejuice (1988)
2735                            Christmas Story, A (1983)
2794                           Hard Day's Night, A (1964)
3008                                         42 Up (1998)
Name: title, dtype: object
--------------------------------------
Movie: Back to the Future (1985)
Similar Movies:
0                                Toy Story (1995)
1081            E.T. the Extra-Terrestrial (1982)
1180               Raiders of the Lost Ark (1981)
1250                    Back to the Future (1985)
1271    Indiana Jones and the Last Crusade (1989)
1942            Back to the Future Part II (1989)
2017                   One Magic Christmas (1985)
2571                              Superman (1978)
2647                          Ghostbusters (1984)
2728                                   Big (1988)
Name: title, dtype: object
--------------------------------------
Movie: Men in Black (1997)
Similar Movies:
9                    GoldenEye (1995)
148                  Apollo 13 (1995)
174         Living in Oblivion (1995)
373                      Speed (1994)
770     Independence Day (ID4) (1996)
1164              Hear My Song (1991)
1491        Fifth Element, The (1997)
1539              Men in Black (1997)
2647              Ghostbusters (1984)
2988          Where's Marlowe? (1999)
Name: title, dtype: object
--------------------------------------
Movie: L.A. Confidential (1997)
Similar Movies:
49            Usual Suspects, The (1995)
604                         Fargo (1996)
663                     Aparajito (1956)
1088    Streetcar Named Desire, A (1951)
1337                  Sling Blade (1996)
1575            L.A. Confidential (1997)
1876            On the Waterfront (1954)
2836                      Sanjuro (1962)
3123       Terrorist, The (Malli) (1998)
3608                       Baraka (1992)
Name: title, dtype: object
--------------------------------------
Movie: Saving Private Ryan (1998)
Similar Movies:
108                        Braveheart (1995)
148                         Apollo 13 (1995)
315         Shawshank Redemption, The (1994)
523                  Schindler's List (1993)
847                    Godfather, The (1972)
1023                         Die Hard (1988)
1230    Bridge on the River Kwai, The (1957)
1959              Saving Private Ryan (1998)
2125                Untouchables, The (1987)
2836                          Sanjuro (1962)
Name: title, dtype: object
--------------------------------------
Movie: Shakespeare in Love (1998)
Similar Movies:
49               Usual Suspects, The (1995)
827                             Emma (1996)
897                   Apartment, The (1960)
904                    Roman Holiday (1953)
921                 To Catch a Thief (1955)
1156                 Cinema Paradiso (1988)
1212                Right Stuff, The (1983)
1287         When Harry Met Sally... (1989)
2327             Shakespeare in Love (1998)
3176    I Am Cuba (Soy Cuba/Ya Kuba) (1964)
Name: title, dtype: object
--------------------------------------
Movie: Matrix, The (1999)
Similar Movies:
49                     Usual Suspects, The (1995)
315              Shawshank Redemption, The (1994)
585             Terminator 2: Judgment Day (1991)
1120       Monty Python and the Holy Grail (1974)
1179                   Princess Bride, The (1987)
1180               Raiders of the Lost Ark (1981)
1271    Indiana Jones and the Last Crusade (1989)
1810                   Hanging Garden, The (1997)
2502                           Matrix, The (1999)
2693                      Sixth Sense, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: Star Wars: Episode I - The Phantom Menace (1999)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
642                            Mission: Impossible (1996)
1178    Star Wars: Episode V - The Empire Strikes Back...
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1335                      Star Trek: First Contact (1996)
1450                                    Saint, The (1997)
1840                X-Files: Fight the Future, The (1998)
2051                                Needful Things (1993)
2559     Star Wars: Episode I - The Phantom Menace (1999)
3013                      World Is Not Enough, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: Ghostbusters (1984)
Similar Movies:
588                                 Batman (1989)
1179                   Princess Bride, The (1987)
1180               Raiders of the Lost Ark (1981)
1250                    Back to the Future (1985)
1271    Indiana Jones and the Last Crusade (1989)
1539                          Men in Black (1997)
2401                      Crocodile Dundee (1986)
2647                          Ghostbusters (1984)
2728                                   Big (1988)
2918              Who Framed Roger Rabbit? (1988)
Name: title, dtype: object
--------------------------------------
Movie: Sixth Sense, The (1999)
Similar Movies:
315     Shawshank Redemption, The (1994)
453                 Fugitive, The (1993)
523              Schindler's List (1993)
589     Silence of the Lambs, The (1991)
1656            Good Will Hunting (1997)
2199              Few Good Men, A (1992)
2543               Mildred Pierce (1945)
2693             Sixth Sense, The (1999)
2836                      Sanjuro (1962)
3078              Green Mile, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: American Beauty (1999)
Similar Movies:
49                   Usual Suspects, The (1995)
220                               Clerks (1994)
671     Some Folks Call It a Sling Blade (1993)
1227                       Graduate, The (1967)
1424                 Waiting for Guffman (1996)
1575                   L.A. Confidential (1997)
2788                    Yellow Submarine (1968)
2789                     American Beauty (1999)
3212            Brandon Teena Story, The (1998)
3269                     For All Mankind (1989)
Name: title, dtype: object
--------------------------------------
Movie: Being John Malkovich (1999)
Similar Movies:
109                                    Taxi Driver (1976)
604                                          Fargo (1996)
1107                          Perfect Candidate, A (1996)
1340    Paradise Lost: The Child Murders at Robin Hood...
1760                                  Big One, The (1997)
2530                                      Election (1999)
2928                          Being John Malkovich (1999)
3412                                 High Fidelity (2000)
3841                                  Best in Show (2000)
3879                           Requiem for a Dream (2000)
Name: title, dtype: object
--------------------------------------