# Building an Approximate Nearest Neighbours Index

This tutorial shows how to build an approximate nearest neighbours (ann) index for a given set of embeddings.

We use the Spotify [ANNOY](https://github.com/spotify/annoy) library for this task.

The following are the steps of this tutorial:
1. Build the annoy index given the embeddings saved in the TSV file
2. Load movie information form the downloaded data
3. Use the index to find similar movies to a given one

<a href="https://colab.research.google.com/github.com/ksalama/data2cooc2emb2ann/blob/master/track2ann/03-Building_an_Approximate_Nearest_Neighbours_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Setup

In [1]:
# !pip install -r ../requirements.txt

In [2]:
import os
from annoy import AnnoyIndex
from datetime import datetime
import pandas as pd

In [3]:
WORKSPACE = './workspace'
DATA_DIR = '{}/data'.format(WORKSPACE)
DATASET = 'ml-1m'
ratings_data_file = os.path.join(DATA_DIR, '{}/ratings.dat'.format(DATASET))
movies_data_file = os.path.join(DATA_DIR, '{}/movies.dat'.format(DATASET))
embeddings_file_path = os.path.join(WORKSPACE,'embeddings.tsv')
index_file_path = os.path.join(WORKSPACE,'embed-ann.index')

## 1. Build Annoy Index

In [4]:
def build_embeddings_index(embeddings_file, embedding_size, num_trees):
    
    annoy_index = AnnoyIndex(embedding_size, metric='angular')
    idx2item_mapping = dict()
    item2idx_mapping = dict()
    
    idx = 0
    
    with open(embeddings_file_path) as embedding_file:
        
        while True:
            line = embedding_file.readline()
            if not line: break
                
            parts = line.split('\t')
            item_id = parts[0]
            embedding = [float(v) for v in parts[1:]]
            
            idx2item_mapping[idx] = item_id
            item2idx_mapping[item_id] = idx

            annoy_index.add_item(idx, embedding)
            idx+=1
        
    print("{} items where added to the index".format(idx))
    annoy_index.build(n_trees=num_trees)
    print("Index is built")
    return annoy_index, idx2item_mapping, item2idx_mapping

In [5]:
num_trees = 1000
embedding_size = 32

index, idx2item_mapping,  item2idx_mapping = build_embeddings_index(
    embeddings_file_path, embedding_size, num_trees)

3706 items where added to the index
Index is built

## 2. Load movie data

In [6]:
ratings_header = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_data = pd.read_csv(ratings_data_file, sep="::", names=ratings_header)
ratings_data.head()

/opt/conda/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [8]:
movies_header = ['movie_id', 'title', 'genres']
movies_data = pd.read_csv(movies_data_file, sep="::", names=movies_header, encoding = "ISO-8859-1")
movies_data.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

### Top frequent movies

In [9]:
frequent_movie_ids = list(ratings_data.movie_id.value_counts().index[:30])
movies_data[movies_data['movie_id'].isin(frequent_movie_ids)]

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
108,110,Braveheart (1995),Action|Drama|War
257,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
293,296,Pulp Fiction (1994),Crime|Drama
315,318,"Shawshank Redemption, The (1994)",Drama
352,356,Forrest Gump (1994),Comedy|Romance|War
476,480,Jurassic Park (1993),Action|Adventure|Sci-Fi
523,527,Schindler's List (1993),Drama|War
585,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
589,593,"Silence of the Lambs, The (1991)",Drama|Thriller
604,608,Fargo (1996),Crime|Drama|Thriller
847,858,"Godfather, The (1972)",Action|Crime|Drama
1081,1097,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
1178,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
1179,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
1180,1198,Raiders of the Lost Ark (1981),Action|Adventure
1192,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
1220,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller
1245,1265,Groundhog Day (1993),Comedy|Romance
1250,1270,Back to the Future (1985),Comedy|Sci-Fi
1539,1580,Men in Black (1997),Action|Adventure|Comedy|Sci-Fi
1575,1617,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller
1959,2028,Saving Private Ryan (1998),Action|Drama|War
2327,2396,Shakespeare in Love (1998),Comedy|Romance
2502,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
2559,2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi
2647,2716,Ghostbusters (1984),Comedy|Horror
2693,2762,"Sixth Sense, The (1999)",Thriller
2789,2858,American Beauty (1999),Comedy|Drama
2928,2997,Being John Malkovich (1999),Comedy

## 3. Find similar items

In [22]:
def get_similar_items(item_id, num_matches=10):
    
    idx = item2idx_mapping[item_id]
    
    similar_idx = index.get_nns_by_item(
        idx, num_matches, search_k=-1, include_distances=False)
    
    similar_item_ids = []
    for idx in similar_idx:
        similar_item_ids.append(idx2item_mapping[idx])
    
    return similar_item_ids

In [38]:
# movies_data['movie_id'][similar_item_ids[1]]

KeyError: '3481'

In [43]:
for movie_id in sorted(frequent_movie_ids):
    movie_title = movies_data[movies_data['movie_id'] == movie_id].title.values[0]
    print("Movie: {}".format(movie_title))
    similar_item_ids = get_similar_items(str(movie_id))
    similar_item_ids = list(map(int, similar_item_ids))
    
    similar_movies = movies_data[movies_data['movie_id'].isin(similar_item_ids)].title
    print("Similar Movies:")
    print(similar_movies)
    print("--------------------------------------")

Movie: Toy Story (1995)
Similar Movies:
0                        Toy Story (1995)
148                      Apollo 13 (1995)
584                        Aladdin (1992)
941          It's a Wonderful Life (1946)
1081    E.T. the Extra-Terrestrial (1982)
1179           Princess Bride, The (1987)
1250            Back to the Future (1985)
2286                 Bug's Life, A (1998)
2728                           Big (1988)
3045                   Toy Story 2 (1999)
Name: title, dtype: object
--------------------------------------
Movie: Braveheart (1995)
Similar Movies:
108                             Braveheart (1995)
315              Shawshank Redemption, The (1994)
453                          Fugitive, The (1993)
585             Terminator 2: Judgment Day (1991)
1023                              Die Hard (1988)
1220                       Terminator, The (1984)
1271    Indiana Jones and the Last Crusade (1989)
1959                   Saving Private Ryan (1998)
2693                      Sixth Sense, The (1999)
3509                             Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: Star Wars: Episode IV - A New Hope (1977)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
315                      Shawshank Redemption, The (1994)
585                     Terminator 2: Judgment Day (1991)
1178    Star Wars: Episode V - The Empire Strikes Back...
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1271            Indiana Jones and the Last Crusade (1989)
2502                                   Matrix, The (1999)
2693                              Sixth Sense, The (1999)
3509                                     Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: Pulp Fiction (1994)
Similar Movies:
49            Usual Suspects, The (1995)
293                  Pulp Fiction (1994)
589     Silence of the Lambs, The (1991)
604                         Fargo (1996)
847                Godfather, The (1972)
1073               Reservoir Dogs (1992)
1195                   GoodFellas (1990)
1203      Godfather: Part II, The (1974)
1204            Full Metal Jacket (1987)
2789              American Beauty (1999)
Name: title, dtype: object
--------------------------------------
Movie: Shawshank Redemption, The (1994)
Similar Movies:
49                     Usual Suspects, The (1995)
315              Shawshank Redemption, The (1994)
523                       Schindler's List (1993)
1074                               Platoon (1986)
1180               Raiders of the Lost Ark (1981)
1239                           Stand by Me (1986)
1271    Indiana Jones and the Last Crusade (1989)
1656                     Good Will Hunting (1997)
1959                   Saving Private Ryan (1998)
2693                      Sixth Sense, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: Forrest Gump (1994)
Similar Movies:
315              Shawshank Redemption, The (1994)
352                           Forrest Gump (1994)
360                         Lion King, The (1994)
1250                    Back to the Future (1985)
1271    Indiana Jones and the Last Crusade (1989)
1656                     Good Will Hunting (1997)
1959                   Saving Private Ryan (1998)
2199                       Few Good Men, A (1992)
2693                      Sixth Sense, The (1999)
3509                             Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: Jurassic Park (1993)
Similar Movies:
360                 Lion King, The (1994)
376                      True Lies (1994)
453                  Fugitive, The (1993)
476                  Jurassic Park (1993)
585     Terminator 2: Judgment Day (1991)
724                      Rock, The (1996)
1023                      Die Hard (1988)
1220               Terminator, The (1984)
1885                         Rocky (1976)
1931                 Lethal Weapon (1987)
Name: title, dtype: object
--------------------------------------
Movie: Schindler's List (1993)
Similar Movies:
315             Shawshank Redemption, The (1994)
523                      Schindler's List (1993)
671      Some Folks Call It a Sling Blade (1993)
1156                      Cinema Paradiso (1988)
1176      One Flew Over the Cuckoo's Nest (1975)
1242                    Great Escape, The (1963)
1499    Shall We Dance? (Shall We Dansu?) (1996)
1726                   As Good As It Gets (1997)
2836                              Sanjuro (1962)
2966                       Mister Roberts (1955)
Name: title, dtype: object
--------------------------------------
Movie: Terminator 2: Judgment Day (1991)
Similar Movies:
108                                     Braveheart (1995)
453                                  Fugitive, The (1993)
585                     Terminator 2: Judgment Day (1991)
1178    Star Wars: Episode V - The Empire Strikes Back...
1180                       Raiders of the Lost Ark (1981)
1220                               Terminator, The (1984)
1885                                         Rocky (1976)
1959                           Saving Private Ryan (1998)
3458                                      Predator (1987)
3509                                     Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: Silence of the Lambs, The (1991)
Similar Movies:
46                  Seven (Se7en) (1995)
49            Usual Suspects, The (1995)
315     Shawshank Redemption, The (1994)
589     Silence of the Lambs, The (1991)
847                Godfather, The (1972)
1074                      Platoon (1986)
1180      Raiders of the Lost Ark (1981)
1195                   GoodFellas (1990)
1959          Saving Private Ryan (1998)
2260           American History X (1998)
Name: title, dtype: object
--------------------------------------
Movie: Fargo (1996)
Similar Movies:
537                                   Blade Runner (1982)
604                                          Fargo (1996)
740     Dr. Strangelove or: How I Learned to Stop Worr...
1163                                 Grifters, The (1990)
1200            Killer, The (Die xue shuang xiong) (1989)
1211                                    Annie Hall (1977)
1227                                 Graduate, The (1967)
1883                               Midnight Cowboy (1969)
1950    Seven Samurai (The Magnificent Seven) (Shichin...
3614                                  Blood Simple (1984)
Name: title, dtype: object
--------------------------------------
Movie: Godfather, The (1972)
Similar Movies:
49                             Usual Suspects, The (1995)
293                                   Pulp Fiction (1994)
589                      Silence of the Lambs, The (1991)
740     Dr. Strangelove or: How I Learned to Stop Worr...
847                                 Godfather, The (1972)
892                                    Rear Window (1954)
1195                                    GoodFellas (1990)
1203                       Godfather: Part II, The (1974)
1242                             Great Escape, The (1963)
1950    Seven Samurai (The Magnificent Seven) (Shichin...
Name: title, dtype: object
--------------------------------------
Movie: E.T. the Extra-Terrestrial (1982)
Similar Movies:
0                        Toy Story (1995)
148                      Apollo 13 (1995)
360                 Lion King, The (1994)
523               Schindler's List (1993)
907              Wizard of Oz, The (1939)
941          It's a Wonderful Life (1946)
1081    E.T. the Extra-Terrestrial (1982)
1250            Back to the Future (1985)
2728                           Big (1988)
3045                   Toy Story 2 (1999)
Name: title, dtype: object
--------------------------------------
Movie: Star Wars: Episode V - The Empire Strikes Back (1980)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
315                      Shawshank Redemption, The (1994)
585                     Terminator 2: Judgment Day (1991)
1178    Star Wars: Episode V - The Empire Strikes Back...
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1220                               Terminator, The (1984)
1271            Indiana Jones and the Last Crusade (1989)
2502                                   Matrix, The (1999)
2693                              Sixth Sense, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: Princess Bride, The (1987)
Similar Movies:
0                             Toy Story (1995)
49                  Usual Suspects, The (1995)
315           Shawshank Redemption, The (1994)
941               It's a Wonderful Life (1946)
1120    Monty Python and the Holy Grail (1974)
1179                Princess Bride, The (1987)
1249               Arsenic and Old Lace (1944)
1287            When Harry Met Sally... (1989)
2125                  Untouchables, The (1987)
2849           Ferris Bueller's Day Off (1986)
Name: title, dtype: object
--------------------------------------
Movie: Raiders of the Lost Ark (1981)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
315                      Shawshank Redemption, The (1994)
453                                  Fugitive, The (1993)
585                     Terminator 2: Judgment Day (1991)
1178    Star Wars: Episode V - The Empire Strikes Back...
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1220                               Terminator, The (1984)
1271            Indiana Jones and the Last Crusade (1989)
2693                              Sixth Sense, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: Star Wars: Episode VI - Return of the Jedi (1983)
Similar Movies:
108                                     Braveheart (1995)
257             Star Wars: Episode IV - A New Hope (1977)
315                      Shawshank Redemption, The (1994)
585                     Terminator 2: Judgment Day (1991)
1178    Star Wars: Episode V - The Empire Strikes Back...
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1271            Indiana Jones and the Last Crusade (1989)
2693                              Sixth Sense, The (1999)
3509                                     Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: Terminator, The (1984)
Similar Movies:
453                  Fugitive, The (1993)
585     Terminator 2: Judgment Day (1991)
1023                      Die Hard (1988)
1180       Raiders of the Lost Ark (1981)
1182                        Aliens (1986)
1196                         Alien (1979)
1220               Terminator, The (1984)
1267                       Ben-Hur (1959)
1885                         Rocky (1976)
2693              Sixth Sense, The (1999)
Name: title, dtype: object
--------------------------------------
Movie: Groundhog Day (1993)
Similar Movies:
212      Before the Rain (Pred dozhdot) (1994)
1120    Monty Python and the Holy Grail (1974)
1131                 When We Were Kings (1996)
1179                Princess Bride, The (1987)
1245                      Groundhog Day (1993)
1252                             Patton (1970)
1258                 Young Frankenstein (1974)
2125                  Untouchables, The (1987)
2722                          Airplane! (1980)
3602                    Blazing Saddles (1974)
Name: title, dtype: object
--------------------------------------
Movie: Back to the Future (1985)
Similar Movies:
0                                Toy Story (1995)
352                           Forrest Gump (1994)
360                         Lion King, The (1994)
1081            E.T. the Extra-Terrestrial (1982)
1180               Raiders of the Lost Ark (1981)
1250                    Back to the Future (1985)
1271    Indiana Jones and the Last Crusade (1989)
2571                              Superman (1978)
2647                          Ghostbusters (1984)
2728                                   Big (1988)
Name: title, dtype: object
--------------------------------------
Movie: Men in Black (1997)
Similar Movies:
345                       Clear and Present Danger (1994)
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1335                      Star Trek: First Contact (1996)
1539                                  Men in Black (1997)
2204                                     Rush Hour (1998)
2693                              Sixth Sense, The (1999)
3436                                    No Way Out (1987)
3509                                     Gladiator (2000)
3724                                         X-Men (2000)
Name: title, dtype: object
--------------------------------------
Movie: L.A. Confidential (1997)
Similar Movies:
49                             Usual Suspects, The (1995)
537                                   Blade Runner (1982)
740     Dr. Strangelove or: How I Learned to Stop Worr...
847                                 Godfather, The (1972)
1176               One Flew Over the Cuckoo's Nest (1975)
1279                           Killing Fields, The (1984)
1575                             L.A. Confidential (1997)
2789                               American Beauty (1999)
2836                                       Sanjuro (1962)
3827                                 Almost Famous (2000)
Name: title, dtype: object
--------------------------------------
Movie: Saving Private Ryan (1998)
Similar Movies:
108                    Braveheart (1995)
315     Shawshank Redemption, The (1994)
453                 Fugitive, The (1993)
1074                      Platoon (1986)
1222                        Glory (1989)
1252                       Patton (1970)
1959          Saving Private Ryan (1998)
2693             Sixth Sense, The (1999)
3129                     Papillon (1973)
3509                    Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: Shakespeare in Love (1998)
Similar Movies:
0                          Toy Story (1995)
16             Sense and Sensibility (1995)
523                 Schindler's List (1993)
1156                 Cinema Paradiso (1988)
1179             Princess Bride, The (1987)
1726              As Good As It Gets (1997)
2327             Shakespeare in Love (1998)
2728                             Big (1988)
3079          Cider House Rules, The (1999)
3382    Guess Who's Coming to Dinner (1967)
Name: title, dtype: object
--------------------------------------
Movie: Matrix, The (1999)
Similar Movies:
108                                     Braveheart (1995)
257             Star Wars: Episode IV - A New Hope (1977)
315                      Shawshank Redemption, The (1994)
585                     Terminator 2: Judgment Day (1991)
1074                                       Platoon (1986)
1178    Star Wars: Episode V - The Empire Strikes Back...
1656                             Good Will Hunting (1997)
2502                                   Matrix, The (1999)
2693                              Sixth Sense, The (1999)
3509                                     Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: Star Wars: Episode I - The Phantom Menace (1999)
Similar Movies:
9                                       GoldenEye (1995)
345                      Clear and Present Danger (1994)
364                                      Maverick (1994)
549                                     Tombstone (1993)
1450                                   Saint, The (1997)
1566                                Air Force One (1997)
1673                          Tomorrow Never Dies (1997)
1989                              Negotiator, The (1998)
2559    Star Wars: Episode I - The Phantom Menace (1999)
3684                                 Patriot, The (2000)
Name: title, dtype: object
--------------------------------------
Movie: Ghostbusters (1984)
Similar Movies:
257             Star Wars: Episode IV - A New Hope (1977)
1180                       Raiders of the Lost Ark (1981)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
1202                           Blues Brothers, The (1980)
1250                            Back to the Future (1985)
1271            Indiana Jones and the Last Crusade (1989)
1282                               Field of Dreams (1989)
2647                                  Ghostbusters (1984)
2728                                           Big (1988)
2918                      Who Framed Roger Rabbit? (1988)
Name: title, dtype: object
--------------------------------------
Movie: Sixth Sense, The (1999)
Similar Movies:
315              Shawshank Redemption, The (1994)
453                          Fugitive, The (1993)
1180               Raiders of the Lost Ark (1981)
1220                       Terminator, The (1984)
1271    Indiana Jones and the Last Crusade (1989)
1656                     Good Will Hunting (1997)
1959                   Saving Private Ryan (1998)
2502                           Matrix, The (1999)
2693                      Sixth Sense, The (1999)
3509                             Gladiator (2000)
Name: title, dtype: object
--------------------------------------
Movie: American Beauty (1999)
Similar Movies:
49                   Usual Suspects, The (1995)
293                         Pulp Fiction (1994)
671     Some Folks Call It a Sling Blade (1993)
1176     One Flew Over the Cuckoo's Nest (1975)
1575                   L.A. Confidential (1997)
2789                     American Beauty (1999)
2836                             Sanjuro (1962)
2890                          Fight Club (1999)
3666                             Serpico (1973)
3827                       Almost Famous (2000)
Name: title, dtype: object
--------------------------------------
Movie: Being John Malkovich (1999)
Similar Movies:
740     Dr. Strangelove or: How I Learned to Stop Worr...
1175                              Paris Is Burning (1990)
1211                                    Annie Hall (1977)
1340    Paradise Lost: The Child Murders at Robin Hood...
1373                               Raising Arizona (1987)
1696                                     Dark City (1998)
1816                          Opposite of Sex, The (1998)
2326                                      Rushmore (1998)
2928                          Being John Malkovich (1999)
3412                                 High Fidelity (2000)
Name: title, dtype: object
--------------------------------------